@model IEnumerable<ERP_SchoolSystem.Models.TblProvince>
    <option value="">Select Guardian Province</option>
    @foreach (var item in Model)
    {
        <option value="@item.ProvincesID">@item.ProvincesName</option>
    }