@model IEnumerable<ERP_SchoolSystem.Models.TblCity>
    <option value="">Select Permanent City</option>
    @foreach (var item in Model)
    {
        <option value="@item.CityID">@item.CityName</option>
    }
