@model IEnumerable<ERP_SchoolSystem.Models.TblProvince>
<option value="">Select Postal Province</option>
    @foreach (var item in Model)
    {
        <option value="@item.ProvincesID">@item.ProvincesName</option>
    }
