<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label>Document Name <span class="text-danger">*</span></label>
            <input type="text" name="DocumentName" class="form-control" placeholder="Enter Document Name">
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label>Upload Document Scan Copy</label>
            <input type="file" class="form-input-styled" data-fouc accept=".jpg , .png ,.jpeg" onchange="readURLDoc1(this);" id="Document1" name="Document">
            <span class="form-text text-muted">Accepted formats: png, jpg , jpeg. Max file size less then 2Mb</span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <img src="~/Content/images/Doc_Avt.jpg" style="width:135px; height:150px; border: 1px solid #ddd; padding: 1px;" id="Document1_prev" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label>Document Name <span class="text-danger">*</span></label>
            <input type="text" name="DocumentName" class="form-control" placeholder="Enter Document Name">
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label>Upload Document Scan Copy</label>
            <input type="file" class="form-input-styled" data-fouc accept=".jpg , .png ,.jpeg" onchange="readURLDoc2(this);" id="Document2" name="Document">
            <span class="form-text text-muted">Accepted formats: png, jpg , jpeg. Max file size less then 2Mb</span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <img src="~/Content/images/Doc_Avt.jpg" style="width:135px; height:150px; border: 1px solid #ddd; padding: 1px;" id="Document2_prev" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label>Document Name <span class="text-danger">*</span></label>
            <input type="text" name="DocumentName" class="form-control" placeholder="Enter Document Name">
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label>Upload Document Scan Copy</label>
            <input type="file" class="form-input-styled" data-fouc accept=".jpg , .png ,.jpeg" onchange="readURLDoc3(this);" id="Document3" name="Document">
            <span class="form-text text-muted">Accepted formats: png, jpg , jpeg. Max file size less then 2Mb</span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <img src="~/Content/images/Doc_Avt.jpg" style="width:135px; height:150px; border: 1px solid #ddd; padding: 1px;" id="Document3_prev" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label>Document Name <span class="text-danger">*</span></label>
            <input type="text" name="DocumentName" class="form-control" placeholder="Enter Document Name">
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label>Upload Document Scan Copy</label>
            <input type="file" class="form-input-styled" data-fouc accept=".jpg , .png ,.jpeg" onchange="readURLDoc4(this);" id="Document4" name="Document">
            <span class="form-text text-muted">Accepted formats: png, jpg , jpeg. Max file size less then 2Mb</span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <img src="~/Content/images/Doc_Avt.jpg" style="width:135px; height:150px; border: 1px solid #ddd; padding: 1px;" id="Document4_prev" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label>Document Name <span class="text-danger">*</span></label>
            <input type="text" name="DocumentName" class="form-control" placeholder="Enter Document Name">
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label>Upload Document Scan Copy</label>
            <input type="file" class="form-input-styled" data-fouc accept=".jpg , .png ,.jpeg" onchange="readURLDoc5(this);" id="Document5" name="Document">
            <span class="form-text text-muted">Accepted formats: png, jpg , jpeg. Max file size less then 2Mb</span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <img src="~/Content/images/Doc_Avt.jpg" style="width:135px; height:150px; border: 1px solid #ddd; padding: 1px;" id="Document5_prev" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label>Document Name <span class="text-danger">*</span></label>
            <input type="text" name="DocumentName" class="form-control" placeholder="Enter Document Name">
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label>Upload Document Scan Copy</label>
            <input type="file" class="form-input-styled" data-fouc accept=".jpg , .png ,.jpeg" onchange="readURLDoc6(this);" id="Document6" name="Document">
            <span class="form-text text-muted">Accepted formats: png, jpg , jpeg. Max file size less then 2Mb</span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <img src="~/Content/images/Doc_Avt.jpg" style="width:135px; height:150px; border: 1px solid #ddd; padding: 1px;" id="Document6_prev" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label>Document Name <span class="text-danger">*</span></label>
            <input type="text" name="DocumentName" class="form-control" placeholder="Enter Document Name">
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label>Upload Document Scan Copy</label>
            <input type="file" class="form-input-styled" data-fouc accept=".jpg , .png ,.jpeg" onchange="readURLDoc7(this);" id="Document7" name="Document">
            <span class="form-text text-muted">Accepted formats: png, jpg , jpeg. Max file size less then 2Mb</span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <img src="~/Content/images/Doc_Avt.jpg" style="width:135px; height:150px; border: 1px solid #ddd; padding: 1px;" id="Document7_prev" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label>Document Name <span class="text-danger">*</span></label>
            <input type="text" name="DocumentName" class="form-control" placeholder="Enter Document Name">
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label>Upload Document Scan Copy</label>
            <input type="file" class="form-input-styled" data-fouc accept=".jpg , .png ,.jpeg" onchange="readURLDoc8(this);" id="Document8" name="Document">
            <span class="form-text text-muted">Accepted formats: png, jpg , jpeg. Max file size less then 2Mb</span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <img src="~/Content/images/Doc_Avt.jpg" style="width:135px; height:150px; border: 1px solid #ddd; padding: 1px;" id="Document8_prev" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Document Details <span class="text-danger">*</span></label>
            <input type="text" name="DocumentDetails" class="form-control" placeholder="Enter Document Details (Remarks)">
        </div>
    </div>
</div>
<script>
    function readURLDoc1(input) {
        document.getElementById("Document1_prev").style.display = 'block';
        if (input.files && input.files[0]) {
            const file = input.files[0];
            const fileType = file['type'];
            const validImageTypes = ['image/jpeg', 'image/png', 'image/jpg'];
            var FileSize = file.size / 1024 / 1024;
            if (parseInt(FileSize) > 1) {
                toastr.error('please select file less then 2Mb')
                var input = $("#Document1");
                input.replaceWith(input.val('').clone(true));
                return;
            }
            if (validImageTypes.includes(fileType)) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#Document1_prev')
                    .attr('src', e.target.result)
                    .width(135)
                    .height(150);
                };
                reader.readAsDataURL(input.files[0]);
            }
            else {
                toastr.error('Please select Image only (Accepted formats: png, jpg jpeg)')
                var input = $("#Document1");
                input.replaceWith(input.val('').clone(true));
            }
        }
    }

    function readURLDoc2(input) {
        document.getElementById("Document2_prev").style.display = 'block';
        if (input.files && input.files[0]) {
            const file = input.files[0];
            const fileType = file['type'];
            const validImageTypes = ['image/jpeg', 'image/png', 'image/jpg'];
            var FileSize = file.size / 1024 / 1024;
            if (parseInt(FileSize) > 1) {
                toastr.error('please select file less then 2Mb')
                var input = $("#Document2");
                input.replaceWith(input.val('').clone(true));
                return;
            }
            if (validImageTypes.includes(fileType)) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#Document2_prev')
                    .attr('src', e.target.result)
                    .width(135)
                    .height(150);
                };
                reader.readAsDataURL(input.files[0]);
            }
            else {
                toastr.error('Please select Image only (Accepted formats: png, jpg jpeg)')
                var input = $("#Document2");
                input.replaceWith(input.val('').clone(true));
            }
        }
    }
    function readURLDoc3(input) {
        document.getElementById("Document3_prev").style.display = 'block';
        if (input.files && input.files[0]) {
            const file = input.files[0];
            const fileType = file['type'];
            const validImageTypes = ['image/jpeg', 'image/png', 'image/jpg'];
            var FileSize = file.size / 1024 / 1024;
            if (parseInt(FileSize) > 1) {
                toastr.error('please select file less then 2Mb')
                var input = $("#Document3");
                input.replaceWith(input.val('').clone(true));
                return;
            }
            if (validImageTypes.includes(fileType)) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#Document3_prev')
                    .attr('src', e.target.result)
                    .width(135)
                    .height(150);
                };
                reader.readAsDataURL(input.files[0]);
            }
            else {
                toastr.error('Please select Image only (Accepted formats: png, jpg jpeg)')
                var input = $("#Document3");
                input.replaceWith(input.val('').clone(true));
            }
        }
    }
    function readURLDoc4(input) {
        document.getElementById("Document4_prev").style.display = 'block';
        if (input.files && input.files[0]) {
            const file = input.files[0];
            const fileType = file['type'];
            const validImageTypes = ['image/jpeg', 'image/png', 'image/jpg'];
            var FileSize = file.size / 1024 / 1024;
            if (parseInt(FileSize) > 1) {
                toastr.error('please select file less then 2Mb')
                var input = $("#Document4");
                input.replaceWith(input.val('').clone(true));
                return;
            }
            if (validImageTypes.includes(fileType)) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#Document4_prev')
                    .attr('src', e.target.result)
                    .width(135)
                    .height(150);
                };
                reader.readAsDataURL(input.files[0]);
            }
            else {
                toastr.error('Please select Image only (Accepted formats: png, jpg jpeg)')
                var input = $("#Document4");
                input.replaceWith(input.val('').clone(true));
            }
        }
    }
    function readURLDoc5(input) {
        document.getElementById("Document5_prev").style.display = 'block';
        if (input.files && input.files[0]) {
            const file = input.files[0];
            const fileType = file['type'];
            const validImageTypes = ['image/jpeg', 'image/png', 'image/jpg'];
            var FileSize = file.size / 1024 / 1024;
            if (parseInt(FileSize) > 1) {
                toastr.error('please select file less then 2Mb')
                var input = $("#Document5");
                input.replaceWith(input.val('').clone(true));
                return;
            }
            if (validImageTypes.includes(fileType)) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#Document5_prev')
                    .attr('src', e.target.result)
                    .width(135)
                    .height(150);
                };
                reader.readAsDataURL(input.files[0]);
            }
            else {
                toastr.error('Please select Image only (Accepted formats: png, jpg jpeg)')
                var input = $("#Document5");
                input.replaceWith(input.val('').clone(true));
            }
        }
    }
    function readURLDoc6(input) {
        document.getElementById("Document6_prev").style.display = 'block';
        if (input.files && input.files[0]) {
            const file = input.files[0];
            const fileType = file['type'];
            const validImageTypes = ['image/jpeg', 'image/png', 'image/jpg'];
            var FileSize = file.size / 1024 / 1024;
            if (parseInt(FileSize) > 1) {
                toastr.error('please select file less then 2Mb')
                var input = $("#Document6");
                input.replaceWith(input.val('').clone(true));
                return;
            }
            if (validImageTypes.includes(fileType)) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#Document6_prev')
                    .attr('src', e.target.result)
                    .width(135)
                    .height(150);
                };
                reader.readAsDataURL(input.files[0]);
            }
            else {
                toastr.error('Please select Image only (Accepted formats: png, jpg jpeg)')
                var input = $("#Document6");
                input.replaceWith(input.val('').clone(true));
            }
        }
    }
    function readURLDoc7(input) {
        document.getElementById("Document7_prev").style.display = 'block';
        if (input.files && input.files[0]) {
            const file = input.files[0];
            const fileType = file['type'];
            const validImageTypes = ['image/jpeg', 'image/png', 'image/jpg'];
            var FileSize = file.size / 1024 / 1024;
            if (parseInt(FileSize) > 1) {
                toastr.error('please select file less then 2Mb')
                var input = $("#Document7");
                input.replaceWith(input.val('').clone(true));
                return;
            }
            if (validImageTypes.includes(fileType)) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#Document7_prev')
                    .attr('src', e.target.result)
                    .width(135)
                    .height(150);
                };
                reader.readAsDataURL(input.files[0]);
            }
            else {
                toastr.error('Please select Image only (Accepted formats: png, jpg jpeg)')
                var input = $("#Document7");
                input.replaceWith(input.val('').clone(true));
            }
        }
    }
    function readURLDoc8(input) {
        document.getElementById("Document8_prev").style.display = 'block';
        if (input.files && input.files[0]) {
            const file = input.files[0];
            const fileType = file['type'];
            const validImageTypes = ['image/jpeg', 'image/png', 'image/jpg'];
            var FileSize = file.size / 1024 / 1024;
            if (parseInt(FileSize) > 1) {
                toastr.error('please select file less then 2Mb')
                var input = $("#Document8");
                input.replaceWith(input.val('').clone(true));
                return;
            }
            if (validImageTypes.includes(fileType)) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#Document8_prev')
                    .attr('src', e.target.result)
                    .width(135)
                    .height(150);
                };
                reader.readAsDataURL(input.files[0]);
            }
            else {
                toastr.error('Please select Image only (Accepted formats: png, jpg jpeg)')
                var input = $("#Document8");
                input.replaceWith(input.val('').clone(true));
            }
        }
    }
</script>