@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style class="vjs-styles-defaults">
        .vdo-js {
            width: 300px;
            height: 150px;
        }

        .vjs-fluid {
            padding-top: 56.25%;
        }
    </style>
    <title>The School System | Login</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Loader/icon.ico">
    <link type="text/css" rel="stylesheet" href="~/Content/Loader/spinner.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Loader/toastr.min.css" />
    <script type="text/javascript" src="~/Content/Loader/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Content/Loader/toastr.min.js"></script>
    <script type="text/javascript" src="~/Content/Loader/loader.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Slide Login Form template Responsive, Login form web template, Flat Pricing tables, Flat Drop downs Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/LoginPage/CSS/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/LoginPage/CSS/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
</head>

<body>
    <script src="~/LoginPage/JS/jquery.min.js"></script>
    <script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
  	}
})();
    </script>
    <script>
(function(){
if(typeof _bsa !== 'undefined' && _bsa) {
	// format, zoneKey, segment:value, options
	_bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
}
})();
    </script>
    <script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
  	}
})();
    </script>

    <script type="text/javascript" src="https://services.bilsyndication.com/adv1/?d=353" defer="" async=""></script>
    <script> var vitag = vitag || {};vitag.gdprShowConsentTool=false;vitag.outStreamConfig = {type: "slider", position: "left" };</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125810435-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125810435-1');
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-30027142-1', 'w3layouts.com');
  ga('send', 'pageview');
    </script>

    <div class="Contentloading" id="LoadingSpinner">Loading&#8230;</div>
    <!-- main -->
    <div class="w3layouts-main">
        <div class="bg-layer">
            <h1>The School System</h1>
            <div class="header-main">
                @*<div class="main-icon">
                    <span class="fa fa-eercast"></span>
                </div>*@
                <div class="header-left-bottom">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "mt-8", role = "form", onsubmit = "return ShowLoading()" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="icon1">
                            <span class="fa fa-user"></span>
                            <input type="email"  required name="UserName" id="UserName" />
                        </div>
                        <div class="icon1">
                            <span class="fa fa-lock"></span>
                            <input type="password" required name="Password" id="Password" />
                        </div>
                        <div class="login-check">
                            <label class="checkbox"><input type="checkbox" name="RememberMe" value="1" checked=""><i> </i> Keep me logged in</label>
                        </div>
                        <div class="bottom">
                            <button class="btn" type="submit">Log In</button>
                        </div>
                        <div class="links">
                            <p></p>
                            <p class="right"><a href="#">Forgot Password?</a></p>
                            <div class="clear"></div>
                        </div>
                    }
                </div>
            </div>
                <div class="copyright social">
                    <div><p>© @DateTime.Now.Year. <a href="#">The School System</a> Developed by <a href="#">ZS Software Consultancy (Pvt.) Limited. </a></p> </div>
                    <ul>
                        <li><a href="#" class="facebook"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#" class="twitter"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#" class="google"><span class="fa fa-google-plus"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <script>
        function ShowLoading() {
            $("#LoadingSpinner").show();
        }
        $(function () {
            var Message = '@ViewBag.Message';
            if (Message != '') {
                toastr.error(Message);
            }
        });

        document.onkeydown = function (e) {
            if (event.keyCode == 123) {
                return false;
            }
            if (e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
                return false;
            }
        }
        </script>
    </body>
</html>